@media (max-width: 576px) {
    /* DASHBOARD VIEW ANALYTICS CONTAINER */
    .div-dashboard-view-analytics-container {
        gap: 1.6rem;
    }

    /* DASHBOARD VIEW ANALYTICS METRICS CONTAINER */
    .div-dashboard-view-analytics-metrics-container {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }
}
