@media (max-width: 576px) {
    /* DASHBOARD VIEW MAINTENANCE CONTAINER */
    .div-dashboard-view-maintenance-container {
        grid-template-columns: 1fr;
        gap: 1.6rem;
    }

    /* DASHBOARD VIEW MAINTENANCE LOG CONTAINER */
    .div-dashboard-view-maintenance-log-container {
        order: 2;
    }

    /* DASHBOARD VIEW MAINTENANCE SCHEDULE CONTAINER */
    .div-dashboard-view-maintenance-schedule-container {
        order: 1;
    }
}
