/* NOTIFICATION MODAL CONTAINER */
.div-notification-modal-container {
    position: fixed;
    bottom: -6.4rem;
    right: 3.2rem;
    height: fit-content;
    transition: all 0.6s ease-in-out;
    transform: scale(1);
}

.active.div-notification-modal-container {
    bottom: 3.2rem;
    transform: scale(0.4);
}

/* NOTIFICATION MODAL */
.div-notification-modal {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.2rem 1.6rem;
    background-color: var(--container-white);
    box-shadow:
        inset 0 0 0 0.12rem var(--stroke-light-gray),
        0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
}

.div-notification-modal ion-icon {
    font-size: 1.6rem;
}

.success.div-notification-modal ion-icon {
    color: var(--color-green);
}

.failure.div-notification-modal ion-icon {
    color: var(--color-red);
}

.div-notification-modal p {
    font-size: 1.4rem;
}
