/* SCHEDULE MODAL CONTAINER */
.div-schedule-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* SCHEDULE MODAL */
.div-schedule-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 48rem;
    max-width: calc(100% - 3.2rem);
    height: 48rem;
    padding: 2.4rem;
    background-color: var(--container-white);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    transform: translate(-50%, -50%);
}

/* HEADER SCHEDULE MODAL */
.header-schedule-modal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.6rem;
}

/* HEADER SCHEDULE MODAL INFO CONTAINER */
.div-header-schedule-modal-info-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.div-header-schedule-modal-info-container ion-icon {
    font-size: 2.4rem;
}

.div-header-schedule-modal-info-container h2 {
    display: -webkit-box;
    font-size: 1.6rem;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.header-schedule-modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--container-light-gray);
    border: unset;
    border-radius: 0.8rem;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
}

.header-schedule-modal button:hover {
    background-color: var(--container-light);
}

.header-schedule-modal button ion-icon {
    font-size: 1.4rem;
}

/* FORM SCHEDULE MODAL */
.form-schedule-modal {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-radius: 0.8rem;
    overflow-y: scroll;
}

.form-schedule-modal::-webkit-scrollbar {
    display: none;
}

/* FORM SCHEDULE MULTI INPUT CONTAINER */
.div-form-schedule-multi-input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

/* FORM SCHEDULE INPUT CONTAINER */
.div-form-schedule-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.div-form-schedule-input-container label,
.div-form-schedule-input-container span {
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

.div-form-schedule-input-container input,
.div-form-schedule-input-container textarea {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--container-light-gray);
    border: unset;
    border-radius: 0.8rem;
}

/* FORM SCHEDULE SELECT CONTAINER */
.div-form-schedule-input-container > div {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* SELECTED FORM SCHEDULE INFO CONTAINER */
.div-form-schedule-input-container > div > div {
    position: relative;
    width: 100%;
    padding: 0.8rem 3.2rem 0.8rem 0.8rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.8rem;
}

.div-form-schedule-input-container > div > div p {
    flex-grow: 1;
    display: -webkit-box;
    font-size: 1.4rem;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--text-gray);
    overflow: hidden;
}

.div-form-schedule-input-container > div > div ion-icon {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    font-size: 1.6rem;
    color: var(--text-gray);
    transform: translateY(-50%);
}

/* FORM SCHEDULE OPTIONS LIST */
.div-form-schedule-input-container > div ul {
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    padding: 0.8rem;
    background-color: var(--container-white);
    box-shadow:
        inset 0 0 0 0.12rem var(--stroke-light-gray),
        0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    transform: translateY(100%);
    z-index: 9999;
}

/* FORM SCHEDULE OPTIONS LIST ITEM */
.div-form-schedule-input-container > div ul li {
    position: relative;
}

.div-form-schedule-input-container > div ul li span {
    display: -webkit-box;
    padding-right: 3.2rem;
    font-size: 1.4rem;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.div-form-schedule-input-container > div ul li ion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.6rem;
    color: var(--text-white);
    transform: translateY(-50%);
    /* transition: all 0.3s ease-in-out; */
}

.div-form-schedule-input-container > div ul li:hover ion-icon,
.active.div-form-schedule-input-container > div ul li ion-icon {
    color: var(--text-gray);
}

/* FORM SCHEDULE RADIO CONTAINER */
.div-form-schedule-radio-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.div-form-schedule-radio-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    aspect-ratio: 1 / 1;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border: unset;
    border-radius: 50%;
    cursor: pointer;
}

.div-form-schedule-radio-container button.active {
    box-shadow: inset 0 0 0 0.12rem var(--color-green);
}

.div-form-schedule-radio-container button ion-icon {
    font-size: 2.4rem;
    color: var(--text-white);
}

.div-form-schedule-radio-container button.active ion-icon {
    color: var(--color-green);
}

.div-form-schedule-radio-container p {
    font-size: 1.4rem;
}

.form-schedule-modal > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem 1.2rem;
    color: var(--text-white);
    background-color: var(--container-black);
    border-radius: 0.8rem;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
}

.form-schedule-modal > button ion-icon {
    font-size: 1.6rem;
    color: inherit;
}

.form-schedule-modal > button span {
    font-size: 1.4rem;
    color: inherit;
}
