/* SCHEDULE MODAL CONTAINER */
.div-schedule-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* SCHEDULE MODAL */
.div-schedule-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 48rem;
    padding: 2.4rem;
    background-color: var(--container-white);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    transform: translate(-50%, -50%);
}

/* HEADER SCHEDULE MODAL */
.header-schedule-modal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.6rem;
}

/* HEADER SCHEDULE MODAL INFO CONTAINER */
.div-header-schedule-modal-info-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.div-header-schedule-modal-info-container ion-icon {
    font-size: 2.4rem;
}

.div-header-schedule-modal-info-container h2 {
    display: -webkit-box;
    font-size: 1.6rem;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.header-schedule-modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--container-light-gray);
    border: unset;
    border-radius: 0.8rem;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
}

.header-schedule-modal button:hover {
    background-color: var(--container-light);
}

.header-schedule-modal button ion-icon {
    font-size: 1.4rem;
}
