/* COPYRIGht CONTAINER */
.div-copyright-container {
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
}

.div-copyright-container p {
    font-size: 1.2rem;
}

.div-copyright-container p,
.div-copyright-container span {
    color: var(--text-white);
}
