/* FORM LOGIN VIEW MODAL */
.form-login-view-modal {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

/* FORM LOGIN INPUT CONTAINER */
.div-form-login-input-container {
    position: relative;
}

.div-form-login-input-container label {
    position: absolute;
    top: 25%;
    left: 2rem;
    transform: translateX(-50%);
    cursor: pointer;
}

.div-form-login-input-container label ion-icon {
    font-size: 1.6rem;
    color: var(--text-gray);
}

.div-form-login-input-container input {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 4rem;
    background-color: var(--container-light-gray);
    border: unset;
    border-radius: 0.8rem;
}

/* BUTTON FORM LOGIN SUBMIT */
.form-login-view-modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem;
    font-size: 1.4rem;
    color: var(--text-white);
    background-color: var(--color-green);
    border: unset;
    border-radius: 0.4rem;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
}

.form-login-view-modal button:hover {
    background-color: var(--color-green-hover);
}

.form-login-view-modal button ion-icon {
    font-size: 1.6rem;
}

.form-login-view-modal button ion-icon,
.form-login-view-modal button span {
    color: inherit;
}
