/* SIGNUP VIEW FORM CONTAINER */
.div-signup-view-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.div-signup-view-form-container::before {
    content: "";
    position: absolute;
    top: -2.4rem;
    width: 100%;
    height: 0.2rem;
    background-color: var(--container-gray);
    border-radius: 0.4rem;
    transform: translateY(-50%);
}

/* HEADER SIGNUP VIEW FORM CONTAINER */
.header-signup-view-form-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
}

.header-signup-view-form-container h2 {
    font-size: 1.8rem;
}

.header-signup-view-form-container p {
    font-size: 1.2rem;
}

/* FORM SIGNUP VIEW MODAL */
.form-signup-view-modal {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

/* FORM SIGNUP INPUT CONTAINER */
.div-form-signup-input-container {
    position: relative;
}

.div-form-signup-input-container label {
    position: absolute;
    top: 25%;
    left: 2rem;
    transform: translateX(-50%);
    cursor: pointer;
}

.div-form-signup-input-container label ion-icon {
    font-size: 1.6rem;
    color: var(--text-gray);
}

.div-form-signup-input-container input {
    width: 100%;
    font-size: 1.4rem;
    padding: 0.8rem 0.8rem 0.8rem 4rem;
    background-color: var(--container-light-gray);
    border: unset;
    border-radius: 0.8rem;
}

/* BUTTON FORM SIGNUP SUBMIT */
.form-signup-view-modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem;
    color: var(--text-white);
    background-color: var(--color-green);
    border: unset;
    border-radius: 0.4rem;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
}

.form-signup-view-modal button:hover {
    background-color: var(--color-green-hover);
}

.form-signup-view-modal button ion-icon {
    font-size: 1.6rem;
    color: inherit;
}

.form-signup-view-modal button span {
    font-size: 1.4rem;
    color: inherit;
}

/* FOOTER SIGNUP VIEW FORM CONTAINER */
.footer-signup-view-form-container {
    margin-top: 0.8rem;
    text-align: center;
}

.footer-signup-view-form-container p {
    font-size: 1.2rem;
}

.footer-signup-view-form-container p a:link,
.footer-signup-view-form-container p a:visited {
    color: var(--color-green);
    /* transition: all 0.3s ease-in-out; */
}

.footer-signup-view-form-container p a:hover,
.footer-signup-view-form-container p a:active {
    color: var(--color-green-hover);
}
