/* MAIN EDGE CONTAINER */
.div-main-edge-container {
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
}

/* FORM INPUT CONTAINER */
.div-form-input-container {
    position: relative;
}

.div-form-input-container label {
    position: absolute;
    top: 25%;
    left: 2rem;
    transform: translateX(-50%);
}

.div-form-input-container label ion-icon {
    font-size: 1.6rem;
    color: var(--text-gray);
}

.div-form-input-container input {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 4rem;
    background-color: var(--container-light-gray);
    border: unset;
    border-radius: 0.4rem;
}

/* BUTTON FORM SUBMIT */
.btn-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem;
    font-size: 1.4rem;
    color: var(--text-white);
    background-color: var(--color-green);
    border: unset;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-form-submit:hover {
    background-color: var(--color-green-hover);
}

.btn-form-submit ion-icon {
    font-size: 1.6rem;
}

.btn-form-submit ion-icon,
.btn-form-submit span {
    color: inherit;
}