/* DASHBOARD VIEW CONTAINER */
.div-dashboard-view-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 3.2rem 4.8rem;
}

/* HEADER DASHBOARD VIEW CONTAINER */
.header-dashboard-view-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/* DASHBOARD VIEW BIRDBOX INFO CONTAINER */
.div-dashboard-view-birdbox-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.div-dashboard-view-birdbox-info-container h2 {
    font-size: 2rem;
}

.div-dashboard-view-birdbox-info-container p {
    font-size: 1.4rem;
    color: var(--text-gray);
}

/* DASHBOARD VIEW BIRDBOX EDITABLE CONTAINER */
.div-dashboard-view-birdbox-editable-container {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

/* BIRDBOX SELECT CONTAINER */
.div-birdbox-select-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* SELECTED BIRDBOX INFO CONTAINER */
.div-selected-birdbox-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    width: 24rem;
    padding: 0.8rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.8rem;
}

/* SELECTED BIRDBOX NAME CONTAINER */
.div-selected-birdbox-name-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.div-selected-birdbox-name-container p,
.div-selected-birdbox-name-container ion-icon {
    font-size: 1.4rem;
}

.div-selected-birdbox-name-container ion-icon {
    color: var(--color-green);
}

.div-selected-birdbox-info-container>ion-icon {
    font-size: 1.6rem;
    color: var(--text-gray);
}

.div-dashboard-view-birdbox-editable-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--color-green);
    border: unset;
    border-radius: 0.8rem;
    cursor: pointer;
}

.div-dashboard-view-birdbox-editable-container button ion-icon {
    font-size: 1.6rem;
}