/* DASHBOARD VIEW CONTAINER */
.div-dashboard-view-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 3.2rem 4.8rem;
}

/* HEADER DASHBOARD VIEW CONTAINER */
.header-dashboard-view-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* DASHBOARD VIEW BIRDBOX INFO CONTAINER */
.div-dashboard-view-birdbox-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.div-dashboard-view-birdbox-info-container h2 {
    font-size: 2rem;
}

.div-dashboard-view-birdbox-info-container p {
    font-size: 1.4rem;
    color: var(--text-gray);
}

/* DASHBOARD VIEW BIRDBOX EDITABLE CONTAINER */
.div-dashboard-view-birdbox-editable-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* BIRDBOX SELECT CONTAINER */
.div-birdbox-select-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* SELECTED BIRDBOX INFO CONTAINER */
.div-selected-birdbox-info-container {
    position: relative;
    width: 24rem;
    padding: 0.8rem 3.2rem 0.8rem 0.8rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.8rem;
}

/* SELECTED BIRDBOX NAME CONTAINER */
.div-selected-birdbox-name-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.div-selected-birdbox-name-container ion-icon {
    color: var(--color-green);
}

.div-selected-birdbox-name-container p {
    flex-grow: 1;
    display: -webkit-box;
    font-size: 1.4rem;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.div-selected-birdbox-name-container ion-icon {
    font-size: 1.4rem;
}

.div-selected-birdbox-info-container>ion-icon {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    font-size: 1.6rem;
    color: var(--text-gray);
    transform: translateY(-50%);
}

/* BIRDBOX OPTIONS LIST */
.birdbox-options-list {
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    padding: 0.8rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.8rem;
    transform: translateY(100%);
}

/* BIRDBOX OPTIONS LIST ITEM */
.birdbox-options-list-item {
    position: relative;
}

.birdbox-options-list-item span {
    display: -webkit-box;
    padding-right: 3.2rem;
    font-size: 1.4rem;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.birdbox-options-list-item ion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.6rem;
    color: var(--text-white);
    transform: translateY(-50%);
}

.active.birdbox-options-list-item ion-icon {
    color: var(--text-gray);
}

.div-dashboard-view-birdbox-editable-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--color-green);
    border: unset;
    border-radius: 0.8rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.div-dashboard-view-birdbox-editable-container button:hover,
.div-dashboard-view-birdbox-editable-container button.active {
    background-color: var(--container-light);
}

.div-dashboard-view-birdbox-editable-container button ion-icon {
    font-size: 1.6rem;
}