/* INVALID VIEW CONTAINER */
.div-invalid-view-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* INVALID VIEW MODAL */
.div-invalid-view-modal {
    position: absolute;
    top: calc(50% - 3.2rem);
    left: 50%;
    transform: translate(-50%, -50%);
}