body {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #006938, #367E53);
    background-attachment: fixed;
    background-size: cover;
}

/* LOGIN VIEW CONTAINER */
.div-login-view-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    width: 48rem;
    padding: 3.2rem 2.4rem;
    background-color: var(--container-white);
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    transform: translate(-50%, -50%);
}

.div-login-view-container>img {
    width: 20rem;
    margin: 0 auto;
}

/* LOGIN VIEW FORM CONTAINER */
.div-login-view-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.div-login-view-form-container::before {
    content: "";
    position: absolute;
    top: -2.4rem;
    width: 100%;
    height: 0.2rem;
    background-color: var(--container-gray);
    border-radius: 0.4rem;
    transform: translateY(-50%);
}

/* HEADER LOGIN VIEW FORM CONTAINER */
.header-login-view-form-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
}

.header-login-view-form-container h2 {
    font-size: 1.8rem;
}

.header-login-view-form-container p {
    font-size: 1.2rem;
}

/* FORM LOGIN VIEW CONTAINER */
.form-login-view-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

/* FORM INPUT CONTAINER */
.div-form-input-container {
    position: relative;
}

.div-form-input-container label {
    position: absolute;
    top: 25%;
    left: 2rem;
    transform: translateX(-50%);
}

.div-form-input-container label ion-icon {
    font-size: 1.6rem;
    color: var(--text-gray);
}

.div-form-input-container input {
    width: 100%;
    padding: 0.8rem 0.8rem 0.8rem 4rem;
    background-color: var(--container-light-gray);
    border: unset;
    border-radius: 0.8rem;
}

/* BUTTON FORM SUBMIT */
.btn-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem;
    font-size: 1.4rem;
    color: var(--text-white);
    background-color: var(--color-green);
    border: unset;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn-form-submit:hover {
    background-color: var(--color-green-hover);
}

.btn-form-submit ion-icon {
    font-size: 1.6rem;
}

.btn-form-submit ion-icon,
.btn-form-submit span {
    color: inherit;
}

/* COPYRIGht CONTAINER */
.div-copyright-container {
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
    transform: translateX(-50%);
}

.div-copyright-container p {
    font-size: 1.2rem;
}

.div-copyright-container p,
.div-copyright-container span {
    color: var(--text-white);
}