/* PROFILE VIEW CONTAINER */
.div-profile-view-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 3.2rem 4.8rem;
}

/* HEADER PROFILE VIEW CONTAINER */
.header-profile-view-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-profile-view-container h2 {
    font-size: 2rem;
}

.header-profile-view-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem 1.2rem;
    border: unset;
    border-radius: 0.8rem;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
}

.div-header-profile-view-edit-container>button {
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--color-green);
}

.div-header-profile-view-edit-container>button:hover {
    background-color: var(--container-light);
}

/* HEADER PROFILE VIEW EDITABLE CONTAINER */
.div-header-profile-view-editable-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.div-header-profile-view-editable-container button:first-child {
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--color-green);
}

.div-header-profile-view-editable-container button:first-child:hover {
    background-color: var(--container-light);
}

.div-header-profile-view-editable-container button:last-child {
    color: var(--text-white);
    background-color: var(--color-green);
}

.div-header-profile-view-editable-container button:last-child:hover {
    background-color: var(--color-green-hover);
}

.header-profile-view-container button ion-icon {
    font-size: 1.6rem;
    color: inherit;
}

.header-profile-view-container button span {
    font-size: 1.4rem;
    color: inherit;
}

/* PROFILE VIEW OVERVIEW CONTAINER */
.div-profile-view-overview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}