/* REPORT VIEW CONTAINER */
.div-report-view-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 3.2rem 4.8rem;
}

/* HEADER REPORT VIEW CONTAINER */
.header-report-view-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-report-view-container h2 {
    font-size: 2rem;
}

.header-report-view-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem 1.2rem;
    color: var(--text-white);
    background-color: var(--color-green);
    border: unset;
    border-radius: 0.8rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.header-report-view-container button ion-icon {
    font-size: 1.6rem;
    color: inherit;
}

.header-report-view-container button span {
    font-size: 1.4rem;
    color: inherit;
}

/* REPORT VIEW SUMMARY CONTAINER */
.div-report-view-summary-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 1.6rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.4rem;
}

.div-report-view-summary-container h2 {
    font-size: 1.4rem;
}

/* REPORT VIEW SUMMARY LIST */
.report-view-summary-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
}

/* REPORT VIEW SUMMARY LIST ITEM */
.report-view-summary-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1.2rem;
    border-radius: 0.4rem;
}

.report-view-summary-list-item:nth-child(1) {
    background-color: var(--accent-forest-green-faded);
}

.report-view-summary-list-item:nth-child(2) {
    background-color: var(--accent-sky-faded);
}

.report-view-summary-list-item:nth-child(3) {
    background-color: var(--accent-red-faded);
}

.report-view-summary-list-item p {
    font-size: 2rem;
    font-weight: 700;
}

.report-view-summary-list-item:nth-child(1) p {
    color: var(--accent-forest-green);
}

.report-view-summary-list-item:nth-child(2) p {
    color: var(--accent-sky);
}

.report-view-summary-list-item:nth-child(3) p {
    color: var(--accent-red);
}

.report-view-summary-list-item span {
    font-size: 1.2rem;
}

/* REPORT VIEW ANALYTICS CONTAINER */
.div-report-view-analytics-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

/* REPORT VIEW SPECIES OVERVIEW CONTAINER */
.div-report-view-species-overview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

/* REPORT VIEW SPECIE OVERVIEW CONTAINER */
.div-report-view-specie-overview-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.6rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.4rem;
}

/* HEADER REPORT VIEW SPECIE OVERVIEW CONTAINER */
.header-report-view-specie-overview-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.header-report-view-specie-overview-container ion-icon {
    font-size: 1.6rem;
}

.div-report-view-specie-overview-container:nth-child(1) .header-report-view-specie-overview-container ion-icon {
    color: var(--brand-blue-accent);
}

.div-report-view-specie-overview-container:nth-child(2) .header-report-view-specie-overview-container ion-icon {
    color: var(--accent-red);
}

.div-report-view-specie-overview-container:nth-child(3) .header-report-view-specie-overview-container ion-icon {
    color: var(--accent-forest-green);
}

.div-report-view-specie-overview-container:nth-child(4) .header-report-view-specie-overview-container ion-icon {
    color: var(--brand-blue-core);
}

.header-report-view-specie-overview-container h4 {
    font-size: 1.4rem;
}

/* REPORT VIEW SPECIE OVERVIEW LIST */
.report-view-specie-overview-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

/* REPORT VIEW SPECIE OVERVIEW LIST ITEM */
.report-view-specie-overview-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

/* REPORT VIEW SEASONAL HISTORY CONTAINER */
.div-report-view-seasonal-history-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.6rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.4rem;
}

.div-report-view-seasonal-history-container h4 {
    font-size: 1.4rem;
}

/* REPORT VIEW SEASONAL HISTORY CHART LEGEND LIST */
.report-view-seasonal-history-chart-legend-list {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

/* REPORT VIEW SEASONAL HISTORY CHART LEGEND LIST ITEM */
.report-view-seasonal-history-chart-legend-list-item {
    display: flex;
    align-items: center;
}

.report-view-seasonal-history-chart-legend-list-item ion-icon {
    font-size: 1.6rem;
}

.report-view-seasonal-history-chart-legend-list-item:nth-child(1) ion-icon {
    color: var(--accent-forest-green);
}

.report-view-seasonal-history-chart-legend-list-item:nth-child(2) ion-icon {
    color: var(--brand-blue-core);
}

.report-view-seasonal-history-chart-legend-list-item:nth-child(3) ion-icon {
    color: var(--accent-purple);
}

.report-view-seasonal-history-chart-legend-list-item span {
    font-size: 1.2rem;
}