/* REPORT VIEW CONTAINER */
.div-report-view-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 3.2rem 4.8rem;
}

/* HEADER REPORT VIEW CONTAINER */
.header-report-view-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header-report-view-container h2 {
    font-size: 2rem;
}

.header-report-view-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem 1.2rem;
    color: var(--text-white);
    background-color: var(--color-green);
    border: unset;
    border-radius: 0.8rem;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
}

.header-report-view-container button:hover {
    background-color: var(--color-green-hover);
}

.header-report-view-container button ion-icon {
    font-size: 1.6rem;
    color: inherit;
}

.header-report-view-container button span {
    font-size: 1.4rem;
    color: inherit;
}

/* REPORT VIEW ANALYTICS CONTAINER */
.div-report-view-analytics-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}
