/* REPORT VIEW SUMMARY CONTAINER */
.div-report-view-summary-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 1.6rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.4rem;
}

.div-report-view-summary-container h2 {
    font-size: 1.6rem;
}

/* REPORT VIEW SUMMARY LIST */
.report-view-summary-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

/* REPORT VIEW SUMMARY LIST ITEM */
.report-view-summary-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 1.2rem;
    border-radius: 0.4rem;
}

.report-view-summary-list-item:nth-child(1) {
    background-color: var(--accent-forest-green-faded);
}

.report-view-summary-list-item:nth-child(2) {
    background-color: var(--accent-sky-faded);
}

.report-view-summary-list-item:nth-child(3) {
    background-color: var(--accent-red-faded);
}

.report-view-summary-list-item p {
    font-size: 2rem;
    font-weight: 700;
}

.report-view-summary-list-item:nth-child(1) p {
    color: var(--accent-forest-green);
}

.report-view-summary-list-item:nth-child(2) p {
    color: var(--accent-sky);
}

.report-view-summary-list-item:nth-child(3) p {
    color: var(--accent-red);
}

.report-view-summary-list-item span {
    font-size: 1.2rem;
}
