/* MAP VIEW LEAFLET CONTAINER */
.div-map-view-leaflet-container {
    flex-grow: 1;
    min-height: 56rem;
    background-color: var(--container-white);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
}