/* MAP VIEW PIGEON CONTAINER */
.div-map-view-pigeon-container {
    flex-grow: 1;
    position: relative;
    height: 56rem;
    background-color: var(--container-white);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 0.4rem;
    overflow: hidden;
}

.div-map-view-pigeon-container > div {
    height: 100%;
}

.div-map-view-pigeon-container > div ion-icon {
    position: relative;
    left: -1.2rem;
    font-size: 4.8rem;
    pointer-events: auto;
}

.div-map-view-pigeon-container button {
    position: absolute;
    bottom: 9.6rem;
    right: 4.8rem;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    background-color: var(--color-green);
    box-shadow: inset 0 0 0 0.12rem var(--accent-forest-green);
    border: unset;
    border-radius: 0.8rem;
    /* transition: all 0.3s ease-in-out; */
    cursor: pointer;
    z-index: 9996;
}

.div-map-view-pigeon-container button:hover {
    background-color: var(--color-green-hover);
    box-shadow: inset 0 0 0 0.12rem var(--color-green-hover);
}

.div-map-view-pigeon-container button ion-icon {
    font-size: 2rem;
    color: var(--text-white);
}
