/* MAIN NAV CONTAINER */
.div-main-nav-container {
    padding: 1.6rem 2.4rem;
    background-color: var(--container-white);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.div-main-nav-container .div-main-edge-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-main-nav-container .div-main-edge-container img {
    width: 16rem;
}

/* MAIN NAV CONTAINER */
.main-nav-container {
    display: inherit;
    align-items: inherit;
    gap: 2.4rem;
}

/* MAIN NAV CONTAINER LIST */
.main-nav-container-list {
    display: inherit;
    align-items: inherit;
    gap: inherit;
}

/* MAIN NAV CONTAINER LIST ITEM */
.main-nav-container-list-item {
    position: relative;
    padding: 0.6rem 0.8rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.main-nav-container-list-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--container-white);
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
}

.main-nav-container-list-item:hover::after,
.active.main-nav-container-list-item::after {
    background-color: var(--container-black);
}

/* MAIN CONTAINER NAV */
.main-nav-container button {
    display: inherit;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.8rem 1.2rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.2rem var(--container-light-gray);
    border: unset;
    border-radius: 0.8rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.main-nav-container button:hover {
    background-color: var(--container-light);
}