@media (max-width: 576px) {
    /* MAP VIEW LEAFLET CONTAINER */
    .div-map-view-leaflet-container {
        width: 100%;
        min-height: auto;
        height: calc(100vh - 6.4rem);
        box-shadow: unset;
        border-radius: 0;
    }

    .div-map-view-leaflet-container button {
        display: flex;
    }
}
