/* DASHBOARD VIEW OVERVIEW CONTAINER */
.div-dashboard-view-overview-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

/* DASHBOARD VIEW OVERVIEW STATISTICS CONTAINER */
.div-dashboard-view-overview-statistics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
}

.div-dashboard-view-overview-statistics-container > div {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.6rem;
    background-color: var(--container-white);
    box-shadow: inset 0 0 0 0.12rem var(--stroke-light-gray);
    border-radius: 0.4rem;
}

.div-dashboard-view-overview-statistics-container > div header {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.div-dashboard-view-overview-statistics-container > div header ion-icon {
    font-size: 2rem;
}

.div-dashboard-view-overview-statistics-container > div header h4 {
    font-size: 1.6rem;
}
